/* danh sách link */
.detail-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.detail-links li {
    margin-bottom: 6px;
}

.detail-links a {
    display: block;
    padding: 10px 20px;
    max-width: 300px;
    border-radius: 4px;
    background-color: #e0e0e0; /* xám nhạt */
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s;
}

.detail-links a:hover {
    background-color: #cfcfcf; /* xám đậm hơn khi hover */
}
